@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

#combo-box-demo {
    height: 35px;
}


.h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold
}

.h2 {
    @apply text-[36px] xl:text-[40px] leading-[1.1] font-semibold
}

.h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold
}

footer {
    color: white;
    padding: 0 0 40px 0;
}

.footer__appendix-container {
    margin: 0 auto;
}

.appendix__row {
    font-size: clamp(11px, 1.8vw, 14px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.appendix__row > *:not(:last-child) {
    margin: 0 10px 0 0;
}

.footer__line {
    padding: 0 0 25px;
}

.footer__line span {
    display: block;
    background-color: white;
    width: 100%;
    height: 3px;
}